<%
/*
    페이징 처리를 위한 변수 선언 및 연산 
    변수화 시켜놓으면 유지보수 하기가 용이하다
    변수간의 순서는 매우 중요하다
*/
var totalRecord=526; //총 레코드 수
var pageSize=15; //페이지 당 보여질 레코드 수
var totalPage=Math.ceil(totalRecord/pageSize); //총 페이지 수 올리기 floor는 내리기
var blockSize=20;//블럭당 보여질 페이지 수
var currentPage=param.page;//현재페이지

//currentPage값은 서버가 넘겨준 파라미터로 대체해야한다
//param.page가 undefined라면, 이 유저는 게시판을 최초 접속한 것으로 간주

//공식은 모두 이전의 변수 조합
var firstPage=1; //블럭당 for문의 시작 페이지
var lastPage=10; //블럭당 for문의 마지막 페이지
%>
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
a{
    text-decoration: none; /*밑줄 제거*/
}

/*페이지 번호의 스타일*/
.pageNum{
    font-size: 20px;
    font-weight: bold;
    color: green;
}

.option{
    font-size: 20px;
    font-weight: bold;
    color: green;
}
</style>
</head>
<body>

<h2>뉴스 기사 메인</h2>
<!-- ejs의 표현식 중 =은 출력의 단축표현식 / 세미콜론으로 문장의 마무리를 하지 않는다. -->
<%="totalRecord(총 레코드는) "+totalRecord%> <br>
<%="pageSize(페이지당 보여질 레코드 수) "+pageSize%> <br>
<%="totalPage(총 페이지 수) "+totalPage%><br>
<%="blockSize(블럭당 보여질 페이지 수) "+blockSize%><br>
<%="currentPage(현재 페이지는) "+currentPage%><br><p>
<!-- <%="서버로부터 전달받은 페이지는 "+param.page%> -->

<table>
  <tr>
    <th>No</th>
    <th>뉴스 제목</th>
    <th>기자명</th>
    <th>등록일</th>
    <th>조회수</th>
  </tr>
  <%for(var i=1;i<=pageSize;i++){%>
  <tr>
    <td><%=i%></td>
    <td>Smith</td>
    <td>50</td>
    <td>50</td>
    <td>50</td>
  </tr>
  <%}%>
  <tr>
      <td colspan="5" style="text-align: center;">
        <a class="option" href="#">◀</a>
        <% 
            if(parseInt(currentPage%blockSize)==0){
                firstPage=(currentPage-(currentPage-1))+blockSize*(parseInt(currentPage/blockSize)-1);
            }else{
                firstPage=(currentPage-(currentPage-1))+blockSize*(parseInt(currentPage/blockSize));
            }
            lastPage=firstPage+(blockSize-1);
        %>
        <%for(var i=firstPage;i<=lastPage;i++){%>
            <!-- pageNum클래스는 현재 유저가 보고있는 페이지 일때만 등장 -->
            <a href="/comments/list?currentPage=<%=i%>" <%if(i==currentPage){%>class="pageNum"<%}%>>[ <%=i%> ]</a>
        <%}%>
        <a class="option" href="#">▶</a>

      </td>
  </tr>
</table>

</body>
</html>
